<footer class="page-footer text-center font-small mt-4 wow fadeIn">

    <hr class="my-4">

    <!-- Social icons -->
    <div class="pb-4">
      <a href="https://www.linkedin.com/in/md-johurul-islam-8063a0148/" target="_blank">
        <i class="fab fa-linkedin mr-3"></i>
      </a>

      <a href="https://www.facebook.com/johurul.islam.39108" target="_blank">
        <i class="fab fa-facebook-f mr-3"></i>
      </a>

      <a href="https://github.com/johurulsec" target="_blank">
        <i class="fab fa-github mr-3"></i>
      </a>
    </div>
    <!-- Social icons -->

    <!--Copyright-->
    <div class="footer-copyright py-3">
      © 2025 April Copyright:
      <a href="https://www.linkedin.com/in/md-johurul-islam-8063a0148/" target="_blank"> Md Johurul Islam </a>
    </div>
    <!--/.Copyright-->

  </footer>